/* 
    Document   : estilo
    Created on : 13-sep-2011, 11:01:28
    Author     : jairo
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body { 
    font-size: 75%;
}
h1 a {
    font-size: 90%;
    color: midnightblue;
    text-decoration: none;
}

.item {
    margin-left: 1%;
}

